@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
}
.row {
  display: flex;
  height: 98vh;
  flex-basis: auto;
  /* background:grey; */
}

.column1{
  align-items: center;
  margin:auto 5vw;
  /* border:2px solid white; */
  /* border: white; */
}

.column1 > img{
  box-shadow:2px 2px 12px 15px #AD939B;
  border: 5px solid white;
  border-radius: 10px;
}
.column2{
  flex: auto;
  text-align: center;
  /* font-size: 30px;
  font-family: cursive; */
  padding: 0 5vw;

}

h2{
  color: white;
}

 .title{
   margin-top:10vw;
   font-family: 'DM Serif Display', serif;
  color: #000;
  letter-spacing: 2px;
 }
